{% extends 'ddac_application/templates/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <section class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Register</h2>
                            <form method="POST" id="registerForm">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                                <p class="text-center mb-0">Already have an account? <a href="{% url 'custom_login_page' %}">Login here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}