{%load crispy_forms_tags%}


<form method="POST" class="modal-header">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="createListingModalLabel">Create Food Listing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{ create_food_form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="createFoodFormButton">Submit</button>
    <div/>
</form>